
/* Estilização do background inicial*/
*{
    margin: 0;
}

.corpo{
    margin-top: px;
    padding-bottom: 120px;
}

body,html{
    height: 100%;
    
}

.PlanoFundo{
    background-image: url("https://st4.depositphotos.com/22295624/39272/i/450/depositphotos_392724572-stock-photo-values-mission-vision-wooden-signpost.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed ;

}

header{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    background-color: #377AD4;
}


/*Logo e ícones*/

  /*logo*/

header h1 img{
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 5px;
}

  /* Menu*/

header nav {
    display: flex;
    text-size-adjust: 10px;
    margin-top: 10px;
    justify-content: end;
    margin-top: -65px;
}
 header a{
    padding: 15px;
    text-decoration: none;
    text-align: center;
}

header nav p{
    color: black;
    font-size: 12px;
}

/*Estilização do corpo do site*/



#apresentacao {
    font-size: 18px;
    width: 1000px;
    color: #333;
    text-align: center;
    background-color: #007bff; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    color: white; /* Cor do texto */
    margin: 0 auto; /* Centraliza horizontalmente */
    border-radius: 0px 20px 0px 20px; /* Arredonda apenas a borda superior esquerda */
    margin-top: 50px;
    margin-bottom: 20px;

}


#misao {
    font-size: 18px;
    width: 1000px;
    color: #333;
    text-align: center;
    background-color: #007bff; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    color: white; /* Cor do texto */
    margin: 0 auto; /* Centraliza horizontalmente */
    border-radius: 0px 20px 0px 20px; /* Arredonda apenas a borda superior esquerda */
    margin-top: 50px;
    margin-bottom: 20px;


}

#visao {
    font-size: 18px;
    width: 1000px;
    color: #333;
    text-align: center;
    background-color: #007bff; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    color: white; /* Cor do texto */
    margin: 0 auto; /* Centraliza horizontalmente */
    border-radius: 0px 20px 0px 20px; /* Arredonda apenas a borda superior esquerda */
    margin-top: 50px;
    margin-bottom: 20px;


}

#valores {
    font-size: 18px;
    width: 1000px;
    color: #333;
    text-align: center;
    background-color: #007bff; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    color: white; /* Cor do texto */
    margin: 0 auto; /* Centraliza horizontalmente */
    border-radius: 0px 20px 0px 20px; /* Arredonda apenas a borda superior esquerda */
    margin-top: 50px;
    margin-bottom: 20px;



}

/* Estilização do rodapé do site*/

.rodape{
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 18%;
    background-color: #377AD4;
    list-style-type: none;
}
    
    .rodape div[id="Titulo"]{
        font-size: 20px;
        color: black;
        margin-top: 1px;
        margin-left: 15px;
        
}
    
    .rodape p{
        font-size: 15px;
        color: white;
        margin-left: 80px;
        
}
    
    div[id="logo_rodape"] img{
       border-radius: 50px;
       position: relative;
       top: 100%;
       transform: translateY(-100%);
       
}
    
    div[id="logo_rodape"] {
        display: flex;
        justify-content: center;
    
}